<form class="contact-us-form">
  <input name="title" type="text" placeholder="title">
  <input name="categories" type="text" placeholder="Categories">
  <div>
    <label for="FileUpload" class="button contact-us-file-button">Attach Photo</label>
    <input type="file" id="FileUpload" class="show-for-sr">
  </div>
  <textarea name="post" id="" rows="12" placeholder="Type your blog post here"></textarea>
  <div class="contact-us-form-actions">
    <input type="submit" class="button expanded" value="Post it" />
  </div>
</form>