<div class="contact-panel" id="contact-panel" data-toggler=".is-active">
  <a class="contact-panel-button" data-toggle="contact-panel">Contact us</a>
  <form method="POST" action="/api/Messages/create">
    <div class="row">
      <label>Full name *
        <input type="text" name="name" placeholder="Full name" 
        id="message-us-name">
      </label>
    </div>
    <div class="row">
      <label>Email *
        <input type="email" name="email" placeholder="Email address" 
        id="message-us-email">
      </label>
    </div>
    <div class="row">
      <label>Message *
        <textarea  name="message" placeholder="Describe your needs" 
        id="message-us-message" rows="3"></textarea>
      </label>
    </div>
    <div class="contact-panel-actions">
      <button class="cancel-button" data-toggle="contact-panel">Nevermind</button>
      <input type="submit" class="button submit-button" value="Submit">
    </div>
  </form>
</div>
