<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
  	
    <link rel="icon" href="public/assets/img/favicon.ico">

    <link rel="stylesheet" href="./public/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
  <body>
    {{!-- {{>topbar-data}} --}}

<div class="app-dashboard shrink-medium">
  <div class="row expanded app-dashboard-top-nav-bar">
    <div class="columns medium-2">
      <button data-toggle="app-dashboard-sidebar" class="menu-icon hide-for-medium"></button>
      <a class="app-dashboard-logo">Foundation</a>
    </div>
    <div class="columns show-for-medium">
      <div class="app-dashboard-search-bar-container">
        <input class="app-dashboard-search" type="search" placeholder="Search">
        <i class="app-dashboard-search-icon fa fa-search"></i>
      </div>
    </div>
    <div class="columns shrink app-dashboard-top-bar-actions">
      <a href="/logout"  alt="">
      <button href="/logout" class="button hollow">Logout</button>
        {{!-- <i class="fa fa-info-circle"></i> --}}
      </a>
    </div>
  </div>

  <div class="app-dashboard-body off-canvas-wrapper">
    <div id="app-dashboard-sidebar" class="app-dashboard-sidebar position-left off-canvas off-canvas-absolute reveal-for-medium" data-off-canvas>
      <div class="app-dashboard-sidebar-title-area">
        <div class="app-dashboard-close-sidebar">
          <h3 class="app-dashboard-sidebar-block-title">Items</h3>
          <!-- Close button -->
          <button id="close-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-sidebar-close-button show-for-medium" aria-label="Close menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-left"></i></a></span>
          </button>
        </div>
        <div class="app-dashboard-open-sidebar">
          <button id="open-sidebar" data-app-dashboard-toggle-shrink class="app-dashboard-open-sidebar-button show-for-medium" aria-label="open menu" type="button">
            <span aria-hidden="true"><a href="#"><i class="large fa fa-angle-double-right"></i></a></span>
          </button>
        </div>
      </div>
      <div class="app-dashboard-sidebar-inner">
        <ul class="menu vertical">
          <li><a>
            <i class="large fa fa-area-chart"></i>
            <span class="app-dashboard-sidebar-text">Analytics</span>
          </a></li>
          <li><a href="#" class="is-active">
            <i class="large fa fa-envelope-open"></i>
            <span class="app-dashboard-sidebar-text">Messages</span>
            <span class="badge" id="messageCount">1 <span class="show-for-sr">unread message</span></span>
          </a></li>
          <li><a>
            <i class="large fa fa-users"></i><span class="app-dashboard-sidebar-text">Users</span>
          </a></li>
          {{!-- Should be a dropdown --}}
          <li><a href="#" class="is-active">
            <i class="large fa fa-files-o"></i><span class="app-dashboard-sidebar-text">Pages</span>
          </a></li>

          <li><a>
            <i class="large fa fa-cog"></i><span class="app-dashboard-sidebar-text">Settings</span>
          </a></li>
        </ul>
      </div>
    </div>

    <div class="app-dashboard-body-content off-canvas-content" data-off-canvas-content>
      {{{body}}}


    </div>
  </div>
</div>


	 
    <script src="./public/assets/js/app.js"></script>
    <script src="./public/assets/js/contact-panel.js"></script>
	
  </body>
</html>