<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="icon" href="public/assets/img/favicon.ico">
    <link rel="stylesheet" href="./public/assets/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
  <body>
    {{>topbar-data}}
		{{{ body }}}
	 
    <script src="./public/assets/js/app.js"></script>
    <script src="./public/assets/js/contact-panel.js"></script>
	
  </body>
</html>