{{#if success_msg}}
  <div class="callout success">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="callout alert">{{error_msg}}</div>
{{/if}}

{{#if error}}
  <div class="callout alert">{{error}}</div>
{{/if}}
{{#if errors}}
      {{#each errors}}
        <div class="callout alert">{{msg}}</div>
      {{/each}}
{{/if}}

<div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">

      <form method="post" action="/login">
        <div class="sign-in-form">
          <h4 class="text-center">Sign In</h4>
          <label for="sign-in-form-username">Username</label>
          <input type="text" name="username" class="sign-in-form-username" id="sign-in-form-username">

          <label for="sign-in-form-password">Password</label>
          <input type="text" name="password" class="sign-in-form-password" id="sign-in-form-password">
          <button type="submit" class="sign-in-form-button">Sign In</button>
        </div>
      </form>

      <div class="or">OR</div>
    </div>
    <div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
      
      <div class="login-box-social-section-inner">
        <span class="login-box-social-headline">Sign in with<br />your social network</span>
        <a class="login-box-social-button-facebook">Log in with facebook</a>
        <a class="login-box-social-button-twitter">Log in with Twitter</a>
        <a class="login-box-social-button-google">Log in with Google+</a>
      </div>
      
    </div>
  </div>
</div>

