
<div data-closable="fade-out" class="todo-list-card card">
  <div class="card-divider">
    <a href="http://foundation.zurb.com/building-blocks/blocks/todo-list-card.html">
      <h3>
        To Do List
      </h3>
    </a>
    <button class="close-button" data-close>x</button>
  </div>
  <div class="card-section">
    <ul id="to-do-list" class="todo-container">
      <li>
        <input id="item1" type="checkbox"></input>
        <label for="item1"></label>Item 1
      </li>
    </ul>
    <form id="todo-form">
      <input class="new-item" style="width:100%;" aria-describedby="Add a todo" placeholder="Add a todo" type="text" />
      <button type="submit" class="button expanded">Add Todo</button>
    </form>
  </div>
</div>

{{!-- 
    <ul class="list-group todo-list">
      <li class="list-group-item new-item">
        <form id="todo-form">
        <input class="new-item" placeholder="Add a todo" type="text" />
        <button type="submit" class="btn btn-default">Add Todo</button>
        </form>
      </li>
      <span class="todo-container">
      </span>
    </ul>
--}}